<p style="color: green"><%= notice %></p>

<%= render @post %>

<div>
  <%= link_to 'Edit', edit_shark_post_path(@shark, @post) %> |
  <%= link_to 'Back', shark_posts_path(@shark) %> | 
  <%= link_to 'Add Post', shark_posts_path(@shark) %>
  <%= button_to "Destroy this post", @post, method: :delete %>
</div>
